[submodule "Beat-Tracking-Evaluation-Toolbox"]
	path = Beat-Tracking-Evaluation-Toolbox
	url = https://github.com/adamstark/Beat-Tracking-Evaluation-Toolbox.git
[submodule "Datasets/BallroomAnnotations"]
	path = Datasets/BallroomAnnotations
	url = https://github.com/CPJKU/BallroomAnnotations.git
[submodule "LaplacianSimulations/S3DGLPy"]
	path = LaplacianSimulations/S3DGLPy
	url = https://github.com/ctralie/S3DGLPy.git
[submodule "SuperFlux"]
	path = SuperFlux
	url = https://github.com/CPJKU/SuperFlux.git
